@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Raleway:wght@200&family=Roboto+Mono:wght@500&family=Roboto+Slab&display=swap');

/*Padronizar todos os elementos da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}


